/* ========================= */
/* MODO OSCURO */
/* ========================= */

body.dark{
    background:#121212;
    color:white;
}

body.dark header{
    background:#1d1d1d;
}

body.dark .card{
    background:#242424;
    color:white;
}

body.dark .busqueda{
    background:#2d2d2d;
}

body.dark .busqueda input{
    color:white;
}

body.dark .card p{
    color:#cccccc;
}